.data-cards{
    margin-bottom: 1em;
    width: 100%;
}

.line-chart{
    overflow-x: scroll;
}

.table-card{
    overflow-x: scroll;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.first-tr {
    font-weight: bold;
}