<div class="mdl-card mdl-shadow--2dp data-cards" id="line-chart">
  <!-- <div *ngIf="chartShown"> -->
  <canvas id="canvas">{{ chart }}</canvas>
  <!-- </div> -->
</div>

<div class="mdl-card mdl-shadow--2dp data-cards">
  <div id="table-responsive">
    <table *ngIf="data" class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp data-table" id="my-table">
      <thead class="data-table">
        <tr>
          <th class="mdl-data-table__cell--non-numeric data-table">Period</th>
          <th class="data-table" *ngFor="let header of columns">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of data; let last = last; let i = index">
          <td class="mdl-data-table__cell--non-numeric">{{value.Period}}</td>
          <td [id]="i +'x' + i2" class="editable-cell" contenteditable *ngFor="let header of columns; let i2 = index" (keypress)="editCell(this, $event)">
            {{value[header]}}
          </td>
          <!-- <span *ngIf="last">{{tableCallback()}}</span> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="fab">
  <i class="material-icons">save</i>
</button>